*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
.container{
    background: #DAE6F4;
}

label{
    font-size: 30px;
    font-weight: bold;
}
details {
    padding-inline: 20px;
    border-radius: 6px;
    border: 1px solid black;
}

details summary {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 15px 0px;
    border-radius: 10px;
    
}

details summary i {
    margin-top: 5px;
    transform: rotate(0deg);
    transition: 0.5s;
    transform-origin: 50% 50%;
}

details[open] summary i {
    transform: rotate(180deg);
    transition: 0.5s;
}
ul {
    list-style: none;
    list-style-position: inside;
    padding-inline-start: 0px;
}

ul li {
    background: white;
    margin-bottom: 23px;
    border-radius: 4px;
}



